# ignore arduino tools directory
tools/

# ignore all libraries except specific to this project
libraries/ArduinoJson/
libraries/ESPAsyncTCP/
libraries/ESPAsyncWebServer/
libraries/TFT_eSPI/

# ignore some specific sketch files
Oven/CompilerResults.txt
Oven/topsecret.h
Oven/data